/*
Moderm Round8 v1.0
autor: Senior
git: https://github.com/IsaacBernardino
*/

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins/Poppins-Light.ttf') format("ttf");
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, Arial;
}

body {
  position: relative;
  background-color: #aeaeae;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 0 4px;
}

h1 {
  font-weight: 800;
  font-size: 26pt;
  color: #223;
}

.menu {
  position: fixed;
  bottom: 0;
  background-color: #eee;
  width: min(100vw - 5em);
  height: 60px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 -3px 10px 0 #0000004f;
}

.menu .item {
  width: 45px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
}

.menu .item-ativo {
  border-radius: 15px;
}

.item-ativo::before {
  content: '';
  /*border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;*/
  width: 28px;
  height: 2px;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  top: 5px;
}


/* MENU ITENS  */

.menu #add_btn {
  width: 80px;
  height: 45px;
  justify-content: space-around;

}

.menu #add_btn::before {
  content: '';
  width: 80px;
  height: 1px;
  border: 2px solid black;
  position: absolute;
  bottom: 6px;
  border-radius: 3px;
}

.menu #add_btn img {
  width: 26px;
  aspect-ratio: 1;
}

/* App */
.app-container {
  position: relative;
  width: min(100% - 2em);
  height: min(100vh - 65px);

  margin: 5px 0;
  padding: 5px 10px;
  background: #ffffffde;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.app-container #title {
  font-size: 16pt;
  font-weight: 800;
  border-bottom: 1px solid #00000035;
  margin-bottom: 10px;
  padding: 5px 0;
}
