/* Paginas */
.content {
  overflow-y: auto;
}
/* Home */
#home {
  height: 100%;
}

#home > div h1 {
  font-size: 14pt;
}

#home #bottom-fixed {
  position: absolute;
  top: 5px;
  right: 10px;

  font-size: 14pt;
}

/* Add Page */
#add > div {
  display: flex;
  flex-direction: column;
}

#add > div input {
  height: 40px;
  background: transparent;

  border: 0;
  border-radius: 5px;

  box-shadow: #33333335 0 0 15px 2px;

  margin-bottom: 10px;
  padding: 5px 15px;
}#add > div input:focus {
  outline: 1px solid #22334475;
}

#add > div label {
  font-size: 12pt;
  margin-bottom: 5px;
}

#add > div button {
  height: 40px;
  margin: 5px 0;

  border-radius: 5px;
  border: 0;
  box-shadow: #33334459 0 0 10px 0;
}

select {
  background: transparent;
  height: 40px;
  margin: 5px 0;
  
  border-radius: 5px;
  border: 0;
  box-shadow: #33333335 0 0 10px 0;
}
