@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;

  box-sizing: border-box;

  overflow: hidden;
}

body {
  background-color: #ededed;
}

h1 {
  width: 100%;

  font-size: 28pt;
  font-weight: 300;
  text-align: right;
}

#app {
  width: 100%;
  height: 100vh;

  padding: 0 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#clock {
  font-size: 26pt;
  font-weight: 200;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#clock #hour {
  flex: 3;

  font-size: 80pt;
  font-weight: 400;
  color: #00000095;
  text-align: right;
}

#clock #min {
  flex: 2;

  font-size: 55pt;
  font-weight: 500;
  color: #00000090;
  padding: 0 5px;
}

#clock #sec {
  flex: 1;

  font-size: 32pt;
  font-weight: 300;
  color: #23ed23;
  padding: 0 5px;
}

#center-ms {
  flex: 1;

  font-size: 18pt;
  font-weight: 200;
  color: #222;
}

#tnr {
  width: 100%;
  font-weight: 300;
}

#turns {
  padding: 2px 50px;

  height: 180px;

  font-size: 20pt;
  text-align: center;

  overflow-y: auto;
}

#buttons {
  width: 100%;
  height: calc(50px * 3);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 5px;
}

#buttons button {
  border-radius: 50px;
  border: 0;

  width: 220px;
  height: 50px;

  font-size: 16pt;
  font-weight: 300;
}

#start {
  background-color: #33cd22;
  color: #fff;
}

#stop {
  background-color: #cd2233;
  color: #fff;
}

#pause {
  background-color: #eded00;
  color: #000;
}

#turn {
  background-color: #778899;
  color: #fff;
}